body{
    background-color: #EEFFFF;
    font-family: 'Source Code Pro', monospace;
}

.navbar{
    background-color: #1d3354;
    overflow: auto;
    height: 80px;
}

#LeftSide{
    position: sticky;
    background-color: #467599;
    color: #EEFFFF;
}

a{
    text-align: center;
    font-size: medium;
    color: #EEFFFF;
}

a:link{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    }

a:active{
    color: navy;
}


.Design{
    padding: 15px 0px;
    margin: 10px 0px;
    color: #EEFFFF;
}

#mainCon{
    background-color: #EEFFFF;
}

h3{
    text-align: center;
    text-transform: uppercase;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

ul.corelist{
    text-align: left;
}

/*img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }*/

.chin{
    float: right;
}

table,
tr,
th,
tr{
    border: 4px solid #0e1d3a;
    border-collapse: collapse;
}

footer{
    background: #1d3354;
    color: white;
    text-transform: uppercase;
    text-align: left;
    width: 100%
}

