body{
    background-color: #ebf3fc;
    font-family: 'Source Code Pro', monospace;
}

nav{
    text-align: center;
}

#conNav{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

a.navbar{
    color: white;
    padding: 50px;
}

hr{
    padding: 15px 0px;
    margin: 10px 0px;
}

div#maincon{
    width: 800px;
}

h3{
    background-color: #a3c5ec;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

table,
tr,
th,
tr{
    border: 4px solid #0e1d3a;
    border-collapse: collapse;
}

footer{
    background-color: cornflowerblue;
    color: white;
    text-transform: uppercase;
    text-align: left;
}